<footer>
    <p>Copyright {{ site.authorName }} {{ "now" | date: '%Y' }}</p>
    
    {% if navigation.items %}
          <nav class="footer-nav">
            <ul>
              {% for item in navigation.items %}
                <li>
                  <a href="{{ item.url }}"{{ externalAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
</footer>
</body>    
</html>